.view{
    width: 100%;
    min-height: calc(100vh - 70px);
}
.main-header{
    font-size: 3rem;
    font-weight: 800;
}
.bg-custom{
    background-color: #f4fcf8;
    min-height: 100vh;
}
.details{
    margin-top: 20px;
}
.sec-bold-heading{
    font-weight: 700;
}
.color-heading{
    font-weight: 700;
    color: #32A262;
}
.custom-btn{
    border: none;
    background-color: #fe043c;
    padding: 10px 20px;
    color: white;
    border-radius: 10px 10px 0 10px ;
    font-weight: 600;
    letter-spacing: 0.5px;
}
@media (max-width: 600px) {
    .main-header{
        font-size: 2.5rem;
        font-weight: 700;
    }
  }