.service-header{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    color: #32A262;

}
.sec-header{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(109, 114, 119);
}